<h1>Thống Kê</h1>
<table>
<thead>
<tr>
<th>Ngày</th>
<th>Chi phí nhập</th>
<th>Chi phí khác</th>
<th>Doanh thu</th>
<th>Lợi nhuận</th>
<th>
</tr>
</thead>
<tbody>
<% @tonghop.each do |t| %>
  <tr>
  <td><%= t.ngay.strftime("%d/%m/%Y") %></td>
  <td><%= t.tiennhap %></td>
  <td><%= t.tienchiphi %></td>
  <td><%= t.tienthutheongay %></td>
  <td><%= t.loinhuan %></td>
  </tr>
<% end %>
</tbody>
</table>
<h1>Lợi nhuận trong 30 ngày gần nhất</h1>
<%= line_chart @loinhuan %>
<script type="text/javascript">
  var pusher = new Pusher('6c57eb75f33d0b498bed', {
	  encrypted: true
	});
	var channel = pusher.subscribe('restaurant_channel');
	channel.bind('chi_phi_updated', function(data) {
	  location.reload();
	});
  channel.bind('doanh_thu_updated', function(data) {
    location.reload();
  });
  channel.bind('nhap_updated', function(data) {
    location.reload();
  });
</script>
